<div class="alert alert-info">

# PSY 3019 / 6973
# Cueillette et traitement des données en neurosciences cognitives
## Chapitre 11: Automatisation des traitements
<p>
<li>PRESENTATION
</div>

<div class="alert alert-info">
<b><h1>Pipeline - conversion en z-scores</h1></b></div>

<div class="alert alert-success">
<b><h1>Étape 1 - structure</h1></b></div>

In [13]:
Age = input('colonne avec les valeurs pour l\'âge: ')
Education = input('colonne avec les valeurs pour l\'éducation: ')

colonne avec les valeurs pour l'âge: Age
colonne avec les valeurs pour l'éducation: Education

In [1]:
fichier_src = 'npsy_data.csv'

<div class="alert alert-success">
<b><h4>lire le fichier</h4></b></div>

In [2]:
import pandas
tab = pandas.read_csv(fichier_src)

In [3]:
#tab.shape
tab.columns

Index(['Id', 'Age', 'Education', 'TMTAT1', 'TMTAT2', 'TMTAT3', 'TMTAT4',
       'BrixtonT1', 'BrixtonT2', 'BrixtonT3', 'BrixtonT4', 'BrixtonScaleT1',
       'BrixtonScaleT2', 'BrixtonScaleT3', 'BrixtonScaleT4', 'MecLibreT1',
       'MecLibreT2', 'MecLibreT3', 'MecLibreT4', 'MecOrthoT1', 'MecOrthoT2',
       'MecOrthoT3', 'MecOrthoT4', 'TMTBT1', 'TMTBT2', 'TMTBT3', 'TMTBT4',
       'BostonT1', 'BostonT2', 'BostonT3', 'BostonT4', 'MecSemT1', 'MecSemT2',
       'MecSemT3', 'MecSemT4', 'ClockDrawintT1', 'ClockDrawintT2',
       'ClockDrawintT3', 'ClockDrawintT4'],
      dtype='object')

In [4]:
tab.head()

,Id,Age,Education,TMTAT1,TMTAT2,TMTAT3,TMTAT4,BrixtonT1,BrixtonT2,BrixtonT3,...,BostonT3,BostonT4,MecSemT1,MecSemT2,MecSemT3,MecSemT4,ClockDrawintT1,ClockDrawintT2,ClockDrawintT3,ClockDrawintT4
0,s01,85.5,17,77,53,42,55,26,31,36,...,47,44,16,21,21,23,7,8,6,7
1,s02,63.0,15,56,39,54,47,16,17,14,...,14,13,17,20,22,16,8,9,9,8
2,s03,62.0,11,31,36,32,36,15,9,8,...,13,11,20,21,23,22,8,9,9,9
3,s04,70.7,21,30,40,34,32,23,12,13,...,14,13,18,19,16,24,9,10,9,9
4,s05,65.8,18,47,56,57,57,16,11,13,...,15,15,14,18,22,22,9,8,8,10

<div class="alert alert-success">
<b><h4>base de données des normes</h4></b></div>

In [81]:
# VERSION 1 - Fonction

# Formule = (valeur - moyenne) / ds

def MEC(age, edu):
    if age >= 30 and age <= 85:
        if edu <= 25:
            moyenne = 34.13
            ecart_type = 4.25
    return moyenne, ecart_type

In [23]:
MEC(31, 10)

(34.13, 4.25)

In [24]:
# VERSION 2 - Dictionnaire

npsy_normes = {
    'MEC':{
        'Age Edu intervalle':{'1':[30, 49, 11]},
        '1':{'<=':{'moyenne':34.13, 'ecart_type':4.25},
             '>':{},
            
        }
    }
}

In [30]:
npsy_normes['MEC']['1']['<=']['moyenne']

34.13

<div class="alert alert-success">
<b><h4>extraction des valeurs</h4></b></div>

In [90]:
for valeur in tab.columns:
    if 'MecLibre' in valeur:
        ls_ztest = chng_val_pour_zscore(tab[valeur], tab[Age], tab[Education])
        tab[valeur+'_zscore'] = ls_ztest

<div class="alert alert-success">
<b><h4>conversion en z-scores</h4></b></div>

In [85]:
def chng_val_pour_zscore(np_test, np_Age, np_Edu):
    
    ls_ztest = list()
    for val, age, edu in zip(np_test, np_Age, np_Edu):
        moyenne, ecart_type = MEC(int(age), int(edu))
        z_score = (val - moyenne) / ecart_type
        ls_ztest.append(z_score)

    return ls_ztest

<div class="alert alert-success">
<b><h4>sauvegarder les  résultats</h4></b></div>

In [91]:
fichier_dst = '/tmp/result.csv'

tab.to_csv(fichier_dst)

<div class="alert alert-success">
<b><h4>assembler le code</h4></b></div>

In [19]:
fichier_src = getcwd()+'/npsy_data.csv'
Age         = input('colonne avec les valeurs pour l\'âge: ')
Education   = input('colonne avec les valeurs pour l\'éducation: ')
fichier_dst = getcwd()+'/tmp/result.csv'

colonne avec les valeurs pour l'âge: Age
colonne avec les valeurs pour l'éducation: Education

In [95]:
import pandas
tab = pandas.read_csv(fichier_src)

def MEC(age, edu):
    if age >= 30 and age <= 85:
        if edu <= 25:
            moyenne = 34.13
            ecart_type = 4.25
    return moyenne, ecart_type


def chng_val_pour_zscore(np_test, np_Age, np_Edu):
    ls_ztest = list()
    for val, age, edu in zip(np_test, np_Age, np_Edu):
        moyenne, ecart_type = MEC(int(age), int(edu))
        z_score = (val - moyenne) / ecart_type
        ls_ztest.append(z_score)
    return ls_ztest


for valeur in tab.columns:
    if 'MecLibre' in valeur:
        ls_ztest = chng_val_pour_zscore(tab[valeur], tab[Age], tab[Education])
        tab[valeur+'_zscore'] = ls_ztest
        
tab.to_csv(fichier_dst)

<div class="alert alert-success">
<b><h4>travailler avec la base de données</h4></b></div>

# SQLITE3

In [1]:
import os

#os.getcwd()
#os.listdir(getcwd())
#os.makedirs('lib')

In [2]:
from sqlite3 import connect

def __connect_db():
    conn = connect(os.getcwd()+'/tmp/base_données.db', check_same_thread = False)
    return conn

def __creer_tableau_(tableau):
    conn = __connect_db()
    conn.execute('''CREATE TABLE IF NOT EXISTS {0} (age_bas, age_haut, edu_seuil, edu_niveau, moyenne, ecart_type)'''
                 .format(tableau,))
    conn.commit()
    conn.close()

def __definir_les_donnees_(tableau, donnees):
    conn = __connect_db()
    conn.execute('''INSERT INTO {0} VALUES {1}'''.format(tableau, donnees))
    conn.commit()
    conn.close()

In [17]:
conn = __connect_db()
#conn.execute('''SELECT * FROM sqlite_master WHERE type='table' ''').fetchall()
#conn.execute('''PRAGMA table_info (MEC)''').fetchall()
conn.execute('''SELECT * FROM MEC WHERE age_bas = 30 AND edu_niveau='<=' ''').fetchall()

[(30, 49, 11, '<=', 34.13, 4.25)]

In [15]:
#conn = __connect_db()
#conn.execute('''DROP TABLE MEC''')
#conn.commit()
#conn.close()

In [10]:
__creer_tableau_('MEC')
__definir_les_donnees_('MEC', (30, 49, 11, '>', 32, 5))

(30, 49, 11, '>', 32, 5)

In [18]:
ls_donnees = conn.execute('''SELECT * FROM MEC WHERE age_bas = 30 AND edu_niveau='<=' ''').fetchall()
ls_donnees

[(30, 49, 11, '<=', 34.13, 4.25)]

In [40]:
def tirer_donnees(age, edu_niveau):
    ls_donnees = conn.execute('''SELECT * FROM MEC WHERE age_bas = {0} AND edu_niveau = '{1}' '''
                              .format(age,edu_niveau)).fetchall()
    moyenne, ecart_type =(ls_donnees[0][4], ls_donnees[0][5])
    return moyenne, ecart_type
moyenne, ecart_type = tirer_donnees(30, '<=')

34.13

In [43]:
import pandas
tab = pandas.read_csv(fichier_src)

def tirer_donnees(age, edu_niveau):
    ls_donnees = conn.execute('''SELECT * FROM MEC WHERE age_bas = {0} AND edu_niveau = '{1}' '''
                              .format(age,edu_niveau)).fetchall()
    moyenne, ecart_type =(ls_donnees[0][4], ls_donnees[0][5])
    return moyenne, ecart_type


def chng_val_pour_zscore(np_test, np_Age, np_Edu):
    ls_ztest = list()
    for val, age, edu in zip(np_test, np_Age, np_Edu):
        moyenne, ecart_type = moyenne, ecart_type = tirer_donnees(30, '<=')
        z_score = (val - moyenne) / ecart_type
        ls_ztest.append(z_score)
    return ls_ztest


for valeur in tab.columns:
    if 'MecLibre' in valeur:
        ls_ztest = chng_val_pour_zscore(tab[valeur], tab[Age], tab[Education])
        tab[valeur+'_zscore'] = ls_ztest
        
#tab.to_csv(fichier_dst)

<div class="alert alert-success">
<b><h4>créer les modules</h4></b></div>

In [2]:
#listdir(getcwd())

In [ ]:
with open('bin/database.py', 'w') as f:
    f.write('#!/bin/python')
    
with open('bin/__init__.py', 'w') as f:
    f.write('__all__ =[] ')
    
with open('execute_moi.py', 'w') as f:
    f.write('#!/bin/python')

with open('__init__.py', 'w') as f:
    f.write('__all__ =[] ')